<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
<!--    <bean id="computer" class="com.soft.ioc.Computer">-->
<!--        <property name="cpu" value="core i5"/>-->
<!--        <constructor-arg index="0" value="core"/>-->
<!--        <constructor-arg index="1" value="5222"/>-->
<!--        <property name="list" ref="wlist">-->

<!--        </property>-->
<!--        <property name="map" ref="mymap">-->

<!--        </property>-->
<!--    </bean>-->
<!--    <util:list id="wlist">-->
<!--        <value>www</value>-->
<!--        <value>qwe</value>-->
<!--    </util:list>-->
<!--    <util:map id="mymap">-->
<!--        <entry key="name" value="gww"></entry>-->
<!--    </util:map>-->

<!--    <bean id="person" class="com.soft.ioc.Person">-->
<!--        <property name="uname" value="名字"/>-->
<!--        <property name="computer" ref="computer"/>-->
<!--    </bean>-->
    <context:component-scan base-package="com.soft"></context:component-scan>
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

    <bean id="myDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/mytest?serverTimezone=UTC"/>
        <property name="username" value="JX190313"/>
        <property name="password" value="123"/>
    </bean>



    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--    mapper-->
    <!-- 配置MapperScannerConfigurer -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.soft.mapper"/>
    </bean>

</beans>
